In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd

import shapely as sp
import shapely.geometry as sgeom
import cartopy.io.shapereader as shpreader

from math import *

In [2]:
import folium
#import branca.colormap as cm
#import json

In [3]:
def read_file(fname):

    reader = shpreader.Reader(fname)
    geoms = list(reader.geometries())
    records = list(reader.records())
    gdf = gpd.read_file(fname)

    df = pd.DataFrame([x.attributes for x in records])
    return gdf

In [4]:
tsp_gdf = read_file('data/townships/myanmar_township_boundaries.shp')
sar_gdf = read_file('data/townships/myanmar_self_administered_regions_boundaries.shp')

In [5]:
sar_gdf.head()

,OBJECTID,ST,ST_PCODE,DT,DT_PCODE,TS,TS_MYA,TS_PCODE,ST_2,LABEL2,S_ADMIN,ST_RG,AREA,geometry
0,203.0,Shan (South),MMR014,Taunggyi,MMR014D001,Pindaya,áááºá¸áá,MMR014006,Shan State (South),Pindaya\n77769,Danu,State,629.024963,"POLYGON ((96.77309906800012 21.04325973900007,..."
1,240.0,Shan (South),MMR014,Taunggyi,MMR014D001,Ywangan,áá½á¬áá¶,MMR014007,Shan State (South),Ywangan\n76933,Danu,State,2984.376944,"POLYGON ((96.7848338460001 21.73454093300002, ..."
2,106.0,Shan (South),MMR014,Taunggyi,MMR014D001,Pinlaung,áááºáá±á¬ááºá¸,MMR014009,Shan State (South),Pinlaung\n162537,Pa-O,State,3396.963489,"POLYGON ((96.49517839500007 20.4798822220001, ..."
3,134.0,Sagaing,MMR005,Hkamti,MMR005D008,Nanyun,áááºá¸áá½ááºá¸,MMR005037,Sagaing Region,Nanyun\n78605,Naga,Region,6613.151755,"POLYGON ((95.90216654300004 26.48919462400008,..."
4,77.0,Sagaing,MMR005,Hkamti,MMR005D008,Lay Shi,áá±áá¾á®á¸,MMR005035,Sagaing Region,None,Naga,Region,2792.837366,"POLYGON ((94.67146862700005 24.87438462500003,..."

In [6]:
all_gdfs = [tsp_gdf,sar_gdf]

In [7]:
def get_index_of_tsp_location(lat,lon,gdfs):
    gdfs_list = []
    if isinstance(gdfs, list):
        gdfs_list = gdfs
    else:
        gdfs_list.append(gdfs)
    for g in gdfs_list:
        #display(g.head())
        for i, t in g.iterrows():
            g_type = t.geometry.geom_type
            if (g_type == 'Polygon'):
                polygon = sgeom.polygon.Polygon(t.geometry)
            elif (g_type == 'MultiPolygon'):
                polygon = sgeom.multipolygon.MultiPolygon(t.geometry)
            if polygon.contains(sgeom.Point(lon, lat)):
                return pd.DataFrame(t).T
    return pd.DataFrame(columns=gdfs[0].columns)

In [8]:
# testing a point in Hpakant

get_index_of_tsp_location(25.6787,96.3858,all_gdfs)

,OBJECTID,ST,ST_PCODE,DT,DT_PCODE,TS,TS_PCODE,ST_2,LABEL2,SELF_ADMIN,ST_RG,T_NAME_WIN,T_NAME_M3,AREA,geometry
0,250,Kachin,MMR001,Mohnyin,MMR001D002,Hpakant,MMR001009,Kachin State,Hpakant\n169795,None,State,zm;uefU,áá¬á¸ááá·áº,5761.3,"POLYGON ((96.15952987500003 26.11798109600001,..."

In [9]:
# testing a point not in Myanmar, should return empty

get_index_of_tsp_location(0,1,all_gdfs)

Empty DataFrame
Columns: [OBJECTID, ST, ST_PCODE, DT, DT_PCODE, TS, TS_PCODE, ST_2, LABEL2, SELF_ADMIN, ST_RG, T_NAME_WIN, T_NAME_M3, AREA, geometry]
Index: []

In [10]:
# testing a point not in Hopang, Wa SAR

get_index_of_tsp_location(23.4254,98.7556,all_gdfs)

,OBJECTID,ST,ST_PCODE,DT,DT_PCODE,TS,TS_PCODE,ST_2,LABEL2,SELF_ADMIN,ST_RG,T_NAME_WIN,T_NAME_M3,AREA,geometry
315,224,Shan (North),MMR015,Hopang,MMR015D006,Hopang,MMR015021,Shan State (North),Hopang\n24637,Wa,State,[dkyef,áá­á¯áááº,1332.38,"POLYGON ((98.51675274000003 22.95548887200003,..."

In [11]:
def viz_point(lat,lon,gdfs):
    location_result = get_index_of_tsp_location(25.6787,96.3858,gdfs)
    #location_result = get_attributes_of_tsp_location(16.8728,96.0685,geoms,df)
    map = folium.Map(location=[lat,lon], zoom_start=12)
    
    html="""
    <strong>Township: </strong>{tsp}<br/>
    <strong>State/Region: </strong>{st}<br/>
    <strong>Pcode: </strong>{pcode}
    """
    table = folium.Html(html.format(
            tsp = location_result['TS'],
            st = location_result['ST'],
            pcode = location_result['TS_PCODE']
        ), script=True)
    popup = folium.Popup(table)
    
    folium.Marker([lat, lon], popup=popup).add_to(map)
    return map

In [12]:
viz_point(16.8728,96.0685,all_gdfs)

## Read from csv and add columns with township, state and Pcode

In [13]:
df = pd.read_csv('data/Coordinates.csv',sep=';')

In [14]:
df.head(10)

   ID  longitude   latitude  Unnamed: 3
0   1  95.854584  17.497511         NaN
1   2  98.133858  22.036200         NaN
2   3  99.283318  20.381680         NaN
3   4  98.133858  22.036200         NaN
4   5  98.400002  22.483334         NaN
5   6  97.602486  23.714504         NaN
6   7  96.368736  24.767860         NaN
7   8  96.538742  23.649521         NaN
8   9  96.578339  25.703962         NaN
9  10  96.348228  25.620737         NaN

#### Drop extra column from csv file

In [15]:
df.drop(['Unnamed: 3'], axis=1, inplace=True)

#### Apply the get_attributes_of_tsp_location() function to every row in the dataframe and merge it with original dataframe

In [16]:
new_cols = ['ST','TS','TS_PCODE']
new_df = pd.DataFrame(columns=list(df)+new_cols)

for i,row in df.head(30).iterrows():
    lookup = get_index_of_tsp_location(row['latitude'],row['longitude'],all_gdfs)[new_cols]
    new_row = row.to_frame().T.reset_index(drop=True).combine_first(lookup.reset_index(drop=True))
    new_df = pd.concat([new_df,new_row],sort=False)

In [17]:
new_df.head(20)

     ID  longitude   latitude            ST        TS   TS_PCODE
0   1.0  95.854584  17.497511        Yangon   Taikkyi  MMR013005
0   2.0  98.133858  22.036200  Shan (South)    Kyethi  MMR014015
0   3.0  99.283318  20.381680   Shan (East)  Monghsat  MMR016006
0   4.0  98.133858  22.036200  Shan (South)    Kyethi  MMR014015
0   5.0  98.400002  22.483334  Shan (North)   Tangyan  MMR015004
0   6.0  97.602486  23.714504  Shan (North)   Namhkan  MMR015010
0   7.0  96.368736  24.767860        Kachin   Mohnyin  MMR001007
0   8.0  96.538742  23.649521  Shan (North)    Mabein  MMR015018
0   9.0  96.578339  25.703962        Kachin   Hpakant  MMR001009
0  10.0  96.348228  25.620737        Kachin   Hpakant  MMR001009
0  11.0  97.734428  23.983349           NaN       NaN        NaN
0  12.0  97.693604  23.849649  Shan (North)   Namhkan  MMR015010
0  13.0  97.943413  23.459209  Shan (North)    Kutkai  MMR015011
0  14.0  97.746292  23.860954  Shan (North)   Namhkan  MMR015010
0  15.0  96.447617  24.766546        Kachin   Mohnyin  MMR001007
0  16.0  97.904724  23.979168  Shan (North)      Muse  MMR015009
0  17.0  98.246834  24.046324  Shan (North)      Muse  MMR015009
0  18.0  97.659012  23.864977  Shan (North)   Namhkan  MMR015010
0  19.0  97.681671  23.836010  Shan (North)   Namhkan  MMR015010
0  20.0  97.183334  20.783333  Shan (South)    Hopong  MMR014003

In [18]:
new_df[new_df.isnull().any(axis=1)]

     ID  longitude   latitude   ST   TS TS_PCODE
0  11.0  97.734428  23.983349  NaN  NaN      NaN

In [19]:
## Looks like the reason why we are null values for the Pcode lookups is because some of the points are not in Myanmar

null_points = new_df[new_df.isnull().any(axis=1)]

for i,row in null_points.iterrows():
    print(row)
    display(viz_point(row['latitude'],row['longitude'],all_gdfs))

ID                11
longitude    97.7344
latitude     23.9833
ST               NaN
TS               NaN
TS_PCODE         NaN
Name: 0, dtype: object

#### Save output as a csv file

In [20]:
new_df.to_csv('data/Coordinates_with_location.csv',sep=',')